.movies-card {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

.movies-cards__link {
  display: flex;
  height: 100%;
}

.movies-card__like {
  background: no-repeat url(../../images/like.svg);
  border: none;
  cursor: pointer;
  margin: 9px 0 0 315px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.movies-card__like_active {
  background: no-repeat url("../../images/likeActive.svg");
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  background-size: contain;
}

.movies-card__like_delete {
  background: no-repeat url("../../images/icon-delete.svg");
  height: 30px;
  width: 30px;
  border: none;
  padding: 0;
  background-size: contain;
}

.movies-card__list-item:hover .movies-cards__like_delete {
  display: flex;
  opacity: 1;
}

.movies-card__title {
  width: 80%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin: 0 0 0 15px;
}

.movies-card__duration {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  color: #A0A0A0;
  margin: 9px 0 15px 15px;
}

.movies-card__image {
  width: 364px;
  height: 203px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies-card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies-card__like {
    margin: 9px 0 0 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies-card__like_active {
    margin: 9px 0 0 300px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies-card__image {
    width: 300px;
    height: 168px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies-card__like {
    margin: 9px 0 0 260px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies-card__like_active {
    margin: 9px 0 0 260px;
  }
}