.cards {
  width: 100%;
  display: grid;
  gap: 30px 24px;
  grid-template: repeat(2, 1fr) /repeat(auto-fit, 364px);
  justify-content: center;
  padding: 70px 0 30px 0;
}

.movies-card {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

.movies-card-like {
  background-color: transparent;
  background: url(../../images/like.svg) no-repeat;
  border: none;
  cursor: pointer;
  margin: 9px 0 0 315px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.movies-card__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin: 0 0 0 15px;
}

.movies-card__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  color: #A0A0A0;
  margin: 9px 0 15px 15px;
}

.movies-card__image {
  width: 364px;
  height: 203px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies-card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cards {
    grid-template: repeat(2, 1fr) /repeat(auto-fit, 339px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies-card-like {
    margin: 9px 0 0 300px;
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies-card__image {
    width: 300px;
    height: 168px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards {
    grid-template: repeat(2, 1fr) /repeat(auto-fit, 300px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies-card-like {
    margin: 9px 0 0 260px;
  }
}