.films__menu {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.films__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.films__menu-item:last-child {
  margin: 0;
}

.films__link {
  color: black;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.films__link:hover {
  font-weight: 500;
}