.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: auto 16px auto 0;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .navigation__menu {
    flex-direction: column;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    max-width: 100%;
    display: none;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__menu_opened {
    display: flex;
  }
}